# Cleanup on Row 7

1. Clean the File
2. Handle Corrupt Rows
3. Explore Data Set Bias

## Import Libraries

In [54]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib
import matplotlib.pyplot as plt

### Helper Display Functions

In [3]:
def display_df(df, nrows=10, ncols=None):
    with pd.option_context('display.max_rows', nrows, 'display.max_columns', ncols):
        display (df)
def print_row(df, row):
    for ctr,i in enumerate(df.iloc[row]):
        print (str(df.columns[ctr])+": "+str(i))

### Helper Statistical Functions

In [4]:
#gets ratio of NaNs for each column
def stats_NaN(df):
    df_stats = pd.DataFrame(index=[df.columns], columns=["NaN Ratio"])
    for col in df.columns:
        df_stats["NaN Ratio"][col] = df[col].isna().sum()/len(df) #NaN ratio
    return df_stats.sort_values(by=['NaN Ratio'])

#helps see what fields may be incorrect by having more values than should be
def stats_unique(df, labels):
    df_counts = pd.DataFrame(index=labels,columns=['Unique Count'])
    for l in labels:
        df_counts['Unique Count'][l] = df[l].nunique()
    return df_counts

## Importing the Data

In [5]:
df_raw = pd.read_csv("../dirty_sample_small.csv")

ParserError: Error tokenizing data. C error: Expected 48 fields in line 652242, saw 49

Some rows have an extra field. We shall investigate what this is. First we will import the file in a more managable way, capable of handling these erroneous lines.

In [10]:
df_raw = pd.DataFrame([line.strip().split(',') for line in open('../dirty_sample_small.csv', 
                                                                'r', encoding="ISO-8859-1")])

In [11]:
len(df_raw)

661487

## Investigating Corrupt Lines

In [12]:
stats_NaN(df_raw)

      NaN Ratio
0             0
1             0
2             0
3   0.000270602
4   0.000498876
5   0.000757384
6    0.00102496
7    0.00126231
8    0.00155407
9    0.00181712
10   0.00207563
11   0.00235379
12   0.00264404
13   0.00291767
14   0.00316257
15   0.00343166
16   0.00372192
17   0.00397589
18   0.00421928
19   0.00446116
20   0.00468339
21   0.00495399
22   0.00520948
23   0.00549066
24   0.00576882
25   0.00600616
26   0.00624804
27   0.00652016
28   0.00674238
29   0.00698426
30   0.00722463
31   0.00749977
32   0.00774618
33   0.00801225
34   0.00826471
35   0.00856706
36   0.00882406
37   0.00909617
38   0.00936526
39   0.00962075
40   0.00989891
41   0.00989891
42   0.00989891
43   0.00989891
44   0.00989891
45   0.00989891
46   0.00989891
47   0.00989891
48     0.986152

We see that that the extra has 98.6% field NaNs. This is enough to drop it. However we want to do our due diligence and investigate what the values that are not NaN are. Our suspicion is that it contains the empty string "". So we will query this dataset on the extra field for values that are not NaN or not the empty string. These rows with the empty string are likely corrupt.

In [16]:
df_raw[(pd.notna(df_raw[48]) & (df_raw[48] != ''))][48]

Series([], Name: 48, dtype: object)

We see that this returns nothing. Therefore everything in the extra field is either NaN or the empty string, so there is absolutely no value in keeping it and we will drop it. But first, lets see how many of these corrupt erroneous lines there are. We know that the construction of df_raw line by line as we did above is indifferent to the amount of columns in each row. Most of the time it saw 48 columns, in the later rows it saw 49 because of the extra empty string. The construction of the data set put NaNs in the earlier rows to ensure the shape of the dataset is intact (a regular rectangle). Therefore the source of the corrupt lines is the empty string, so if we count the empty strings in the extra field we will have successfully counted the amount of corrupt lines.

In [17]:
len(df_raw[((df_raw[48] == ''))][48])

9160

We see that there are 9160 of these rows.

In [18]:
display_df(df_raw[((df_raw[48] == ''))])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48
652241,HarvardX/CS50x/2014_T1,1818882,True,True,True,False,False,173.76.227.129,US,United States,Americas,Newton,MA,Massachusetts,02458,Northern America,Developed regions,,,42.3533,-71.1883,el,2002,m,0.0,0.6,2013-12-04 04:02:20,2013-12-04 04:02:20.199004,2014-04-01 23:30:47.988143,2194,39,680,8,,,,,,,Student,0,0,0,honor,1,2014-06-06 16:36:03,2014-09-15 17:57:23,notpassing,
652242,HarvardX/CS50x/2014_T1,1818882,True,True,True,False,False,173.76.227.129,US,United States,Americas,Newton,MA,Massachusetts,02458,Northern America,Developed regions,,,42.3533,-71.1883,el,2002,m,0.0,0.6,2013-12-04 04:02:20,2013-12-04 04:02:20.199004,2014-04-01 23:30:47.988143,2194,39,680,8,,,,,,,Student,0,0,0,honor,1,2014-06-06 16:36:03,2014-09-15 17:57:23,notpassing,
652243,HarvardX/CS50x/2014_T1,1818882,True,True,True,False,False,173.76.227.129,US,United States,Americas,Newton,MA,Massachusetts,02458,Northern America,Developed regions,,,42.3533,-71.1883,el,2002,m,0.0,0.6,2013-12-04 04:02:20,2013-12-04 04:02:20.199004,2014-04-01 23:30:47.988143,2194,39,680,8,,,,,,,Student,0,0,0,honor,1,2014-06-06 16:36:03,2014-09-15 17:57:23,notpassing,
652244,HarvardX/CS50x/2014_T1,1818882,True,True,True,False,False,173.76.227.129,US,United States,Americas,Newton,MA,Massachusetts,02458,Northern America,Developed regions,,,42.3533,-71.1883,el,2002,m,0.0,0.6,2013-12-04 04:02:20,2013-12-04 04:02:20.199004,2014-04-01 23:30:47.988143,2194,39,680,8,,,,,,,Student,0,0,0,honor,1,2014-06-06 16:36:03,2014-09-15 17:57:23,notpassing,
652245,HarvardX/CS50x/2014_T1,1818882,True,True,True,False,False,173.76.227.129,US,United States,Americas,Newton,MA,Massachusetts,02458,Northern America,Developed regions,,,42.3533,-71.1883,el,2002,m,0.0,0.6,2013-12-04 04:02:20,2013-12-04 04:02:20.199004,2014-04-01 23:30:47.988143,2194,39,680,8,,,,,,,Student,0,0,0,honor,1,2014-06-06 16:36:03,2014-09-15 17:57:23,notpassing,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661482,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,
661483,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,
661484,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,
661485,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,
661486,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,

Many of these "corrupt" lines contains valid data, so we will have to handle them. It does appear though that many of these 9160 corrupt lines are indeed duplicates. Lets see how many.

In [19]:
len(df_raw[((df_raw[48] == ''))].drop_duplicates(inplace=False))

710

So of the 9160 corrupt lines, at least 9160 - 710 = 8450 are duplicates. I say at least because even those 710 lines may be duplicates with the rest of the raw dataset as this analysis above only considers rows with the empty string in the extra field. So we can analyze overall the amount of duplicates in the whole raw dataset and compare.

In [20]:
len(df_raw.drop_duplicates(inplace=False))

57223

Interestingly, there are still many more duplicates. However, if we had dropped duplicates at this stage, then we would have also gotten rid of at least 8450 corrupt lines. Therefore we posit, that dropping duplicates would drastically change the count of corrupt lines. We shall prove this with the code below.

In [21]:
len(df_raw.drop_duplicates(inplace=False)[df_raw[48] == ''])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

710

We see that that these corrupt lines do have 710 valid samples. Therefore simply dropping duplicates in the whole dataset is guarunteed to drop 8450 of the corrupt lines.

## Cleaning the Mixed Up Data

We observe that some of the data appears scrambled. Meaning some of the data for some columns is in the wrong columns. We elucidate below. But first, lets give our dataset acceptable column names and drop the erroneous column. From now on, we will be using the goal dataset (the future fully cleaned one) called `df_clean`.

In [132]:
df_clean = df_raw.copy()
df_clean = df_clean.rename(columns=df_raw.iloc[0])
df_clean = df_clean.drop(df_clean.index[0])
df_clean = df_clean.drop(np.nan, axis=1)

In [23]:
stats_unique(df_clean, df_clean.columns)

                     Unique Count
course_id                      21
user_id                     49144
registered                      3
viewed                          3
explored                        3
certified                       2
completed                   44101
ip                            799
cc_by_ip                      295
countryLabel                   96
continent                    6509
city                         1145
region                       1646
subdivision                  9055
postalCode                    282
un_major_region                21
un_economic_group               4
un_developing_nation            4
un_special_region            9821
latitude                    10569
longitude                     443
LoE                           115
YoB                            59
gender                        105
grade                           8
passing_grade               47896
start_time                  33443
first_event                 40371
last_event                   3238
nevents                       267
ndays_act                     873
nplay_video                   111
nchapters                      68
nforum_posts                   43
nforum_votes                    6
nforum_endorsed                33
nforum_threads                 66
nforum_comments                 5
nforum_pinned                   3
roles                         107
nprogcheck                    578
nproblem_check                213
nforum_events                   5
mode                            6
is_active                   22286
cert_created_date           21901
cert_modified_date            608
cert_status                   607

In [24]:
stats_NaN(df_clean)

                        NaN Ratio
course_id                       0
user_id                         0
registered                      0
viewed                0.000270603
explored              0.000498877
certified             0.000757386
completed              0.00102497
ip                     0.00126231
cc_by_ip               0.00155408
countryLabel           0.00181712
continent              0.00207563
city                   0.00235379
region                 0.00264405
subdivision            0.00291767
postalCode             0.00316258
un_major_region        0.00343167
un_economic_group      0.00372192
un_developing_nation    0.0039759
un_special_region      0.00421929
latitude               0.00446117
longitude              0.00468339
LoE                      0.004954
YoB                    0.00520948
gender                 0.00549067
grade                  0.00576883
passing_grade          0.00600617
start_time             0.00624805
first_event            0.00652017
last_event              0.0067424
nevents                0.00698427
ndays_act              0.00722464
nplay_video            0.00749978
nchapters               0.0077462
nforum_posts           0.00801226
nforum_votes           0.00826473
nforum_endorsed        0.00856707
nforum_threads         0.00882407
nforum_comments        0.00909619
nforum_pinned          0.00936528
roles                  0.00962076
nprogcheck             0.00989892
nproblem_check         0.00989892
nforum_events          0.00989892
mode                   0.00989892
is_active              0.00989892
cert_created_date      0.00989892
cert_modified_date     0.00989892
cert_status            0.00989892

In [28]:
display_df(df_clean,200)

,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,continent,city,region,subdivision,postalCode,un_major_region,un_economic_group,un_developing_nation,un_special_region,latitude,longitude,LoE,YoB,gender,grade,passing_grade,start_time,first_event,last_event,nevents,ndays_act,nplay_video,nchapters,nforum_posts,nforum_votes,nforum_endorsed,nforum_threads,nforum_comments,nforum_pinned,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status
1,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
2,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
3,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
4,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
5,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
6,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
7,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
8,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
9,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
10,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
11,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
12,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
13,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
14,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
15,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,
16,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
17,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
18,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
19,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
20,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
21,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
22,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
23,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
24,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
25,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
26,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
27,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
28,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
29,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
30,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
31,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
32,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
33,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
34,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
35,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
36,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
37,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,,,,,,,,,,,b,1993,m,,0.7,2018-02-06 13:45:52,2018-02-06 00:00:00,2018-05-05 18:24:23.645179,785,11,95,5,,,,,,,Student,0,142,0,audit,0,,,,
38,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
39,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
40,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
41,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
42,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
43,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
44,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
45,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
46,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
47,HarvardX/PH525.1x/1T2018,27938,True,True,False,False,179.214.111.130,BR,Brazil,Americas,BrasÃƒÂ­lia,DF,Federal,71920,South America,Developing_Nations,,Latin America and the Caribbean,-15.7833,-47.9167,b,1992,m,,0.7,2018-01-30 18:10:51,2018-01-30 18:10:50.819162,2018-05-27 01:02:43.640466,829,37,51,3,,,,,,,Student,0,207,0,audit,0,,,,
48,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
49,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
50,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
51,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
52,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
53,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
54,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
55,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
56,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
57,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
58,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
59,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
60,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
61,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
62,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
63,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
64,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
65,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
66,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
67,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,
68,HarvardX/PH525.1x/1T2018,28454,True,False,False,False,177.18.230.216,BR,Brazil,Americas,Guarulhos,SP,Sao Paulo,,South America,Developing_Nations,,Latin America and the Caribbean,-23.4507,-46.5262,m,1980,m,,0.7,2018-04-24 23:35:15,2018-04-24 23:35:15.449395,2018-04-24 23:35:41.878589,9,1,0,1,,,,,,,Student,0,0,0,audit,1,,,,

The first perceivable error in the dataset occurs under the completed field. It often has the IP in it. Therefore, one of the early fields is the source of the problem. Perhaps one field is missing. However we are finding it difficult to determine which one. Sometimes, `viewed` is empty, sometimes `explored` is. Often we see `registered` equal to False, which also makes no sense as in order to be a row in the dataset that user needs to be registered for the course. Initially we are thinking that whenever `registered` is False, that it should really be True and that is the source of the missing field and therefore the cause of the shift. However, we cant be certain. Sometimes `registered` is indeed True. `completed` is an important field for researchers of the edX dataset, so we most definitely must repair this column, and we can likely assume that one of the previous columns, probably `certified` contains the values for that column. But which column is missing? The four fields previous `completed` are all booleans, so it is difficult to identify where the problem originates. We know for sure that if the `ip` is in the completed column we can shift the datapoints starting in `completed` over to the right one. We have decided that the source of the shift is the `registered` column. It is the least important for researchers as it is redundant and should always be True. Therefore we start the shift over from there and fill the value with True.

We target the `completed` column for values that look like IP addresses. In this case, we are looking for values that would not be the acceptable values in the `completed` column. The `completed` column should have either True, False, or perhaps None or empty string - anything that is not these is likely an IP address. We then shift everything beginning at `registered` over as that is a reasonable assumption as to what the missing column is and we will then fill that column with Trues as everyone in the database is registered for the class. We do recognize that any of the other boolean fields could have been the source of the shift like `viewed`, `explored`, `certified`, or even `completed` (though we think this is less likely given these fields seem more important for analysis).

In [159]:
#gets rows that look like the IP is in the completed field and shifts them
df_shift = df_clean[~df_clean['completed'].isin(['True','False','', None])]\
[df_clean.columns[2:]].shift(1, axis=1)
df_shift.registered = 'True'

In [162]:
df_clean.loc[~df_clean['completed'].isin(['True','False','', None]),\
            df_clean.columns[2:]] = df_shift

We have successfully fixed the shifting in the dataset.

In [165]:
display_df(df_clean)

,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,continent,city,region,subdivision,postalCode,un_major_region,un_economic_group,un_developing_nation,un_special_region,latitude,longitude,LoE,YoB,gender,grade,passing_grade,start_time,first_event,last_event,nevents,ndays_act,nplay_video,nchapters,nforum_posts,nforum_votes,nforum_endorsed,nforum_threads,nforum_comments,nforum_pinned,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status
1,HarvardX/PH525.1x/1T2018,7940,True,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,
2,HarvardX/PH525.1x/1T2018,7940,True,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,
3,HarvardX/PH525.1x/1T2018,7940,True,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,
4,HarvardX/PH525.1x/1T2018,7940,True,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,
5,HarvardX/PH525.1x/1T2018,7940,True,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661482,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing
661483,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing
661484,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing
661485,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing
661486,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,Americas,Dallas,TX,Texas,75201,Northern America,Developed regions,,,32.7831,-96.8067,p,1972,m,0.0,0.6,2013-07-09 01:46:41,,,,,,,,,,,,,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing

In [168]:
#garbage, will have to deal with
display_df(df_clean[df_clean['completed'].isnull()])

,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,continent,city,region,subdivision,postalCode,un_major_region,un_economic_group,un_developing_nation,un_special_region,latitude,longitude,LoE,YoB,gender,grade,passing_grade,start_time,first_event,last_event,nevents,ndays_act,nplay_video,nchapters,nforum_posts,nforum_votes,nforum_endorsed,nforum_threads,nforum_comments,nforum_pinned,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status
758,HarvardX/PH525.1x/1T2018,529339,True,True,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1035,HarvardX/PH525.1x/1T2018,866059,False,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3495,HarvardX/PH525.1x/1T2018,3524821,True,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3828,HarvardX/PH525.1x/1T2018,4030650,True,True,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4925,HarvardX/PH525.1x/1T2018,5498643,True,True,False,False,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653964,HarvardX/CS50x/2014_T1,1842651,True,True,False,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
656251,HarvardX/CS50x/2014_T1,1876271,True,False,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
657242,HarvardX/CS50x/2014_T1,1893442,True,True,False,False,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
658870,HarvardX/CS50x/2014_T1,1916566,True,False,,False,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
659931,HarvardX/CS50x/2014_T1,1923170,True,False,,False,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

A quick find shows that certain students with failing grades are marked as `completed`. This could a sign of corruption. Or perhaps something else that we do not understand. We are considering adding a field `corrupt` that would mark the corrupt lines and marking rows like this as such.

In [84]:
display_df(df_clean[(df_clean['gender'] < df_clean['grade']) & (df_clean['certified']=="True")],200)

,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,continent,city,region,subdivision,postalCode,un_major_region,un_economic_group,un_developing_nation,un_special_region,latitude,longitude,LoE,YoB,gender,grade,passing_grade,start_time,first_event,last_event,nevents,ndays_act,nplay_video,nchapters,nforum_posts,nforum_votes,nforum_endorsed,nforum_threads,nforum_comments,nforum_pinned,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status
68230,HarvardX/HKS101A/2015T3,1592054,True,False,True,True,74.70.103.13,US,United States,Americas,Schenectady,NY,New York,12309,Northern America,Developed regions,,,42.7944,-73.8651,p,1984,m,0.0,0.7,2016-01-09 21:37:22,2016-01-09 00:00:00,2016-01-09 21:39:47.924000,13,1,4,2,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:05:11,2016-01-27 14:55:39,downloadable,
72863,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72864,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72865,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72866,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72867,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72868,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72869,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72870,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72871,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72872,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72873,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72874,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
72875,HarvardX/HKS101A/2015T3,4261498,False,,True,True,83.110.73.36,AE,United Arab Emirates,Asia,Abu Dhabi,AZ,Abu Dhabi,,Western Asia,Developing_Nations,,,24.4667,54.3667,m,1987,m,0.0,0.7,2016-01-08 15:40:45,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:04:41,2016-01-27 14:59:40,downloadable,
79653,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79654,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79655,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79656,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79657,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79658,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79659,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79660,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79661,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79662,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79663,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79664,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79665,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79666,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79667,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79668,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79669,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79670,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79671,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79672,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79673,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79674,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
79675,HarvardX/HKS101A/2015T3,7419933,False,,True,True,,,,,,,,,,,,,,,b,1989,f,0.0,0.7,2016-01-12 21:48:38,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 21:41:05,2016-01-27 15:06:02,downloadable,
80541,HarvardX/HKS101A/2015T3,7589779,True,False,True,True,,,,,,,,,,,,,,,m,1984,m,0.0,0.7,2016-01-07 12:57:47,2016-01-07 00:00:00,2016-05-01 15:44:54.907428,103,7,28,15,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:11:33,2016-01-27 15:06:04,downloadable,
80542,HarvardX/HKS101A/2015T3,7589779,True,False,True,True,,,,,,,,,,,,,,,m,1984,m,0.0,0.7,2016-01-07 12:57:47,2016-01-07 00:00:00,2016-05-01 15:44:54.907428,103,7,28,15,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:11:33,2016-01-27 15:06:04,downloadable,
80543,HarvardX/HKS101A/2015T3,7589779,True,False,True,True,,,,,,,,,,,,,,,m,1984,m,0.0,0.7,2016-01-07 12:57:47,2016-01-07 00:00:00,2016-05-01 15:44:54.907428,103,7,28,15,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:11:33,2016-01-27 15:06:04,downloadable,
80544,HarvardX/HKS101A/2015T3,7589779,True,False,True,True,,,,,,,,,,,,,,,m,1984,m,0.0,0.7,2016-01-07 12:57:47,2016-01-07 00:00:00,2016-05-01 15:44:54.907428,103,7,28,15,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:11:33,2016-01-27 15:06:04,downloadable,
80545,HarvardX/HKS101A/2015T3,7589779,True,False,True,True,,,,,,,,,,,,,,,m,1984,m,0.0,0.7,2016-01-07 12:57:47,2016-01-07 00:00:00,2016-05-01 15:44:54.907428,103,7,28,15,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:11:33,2016-01-27 15:06:04,downloadable,
80546,HarvardX/HKS101A/2015T3,7589779,True,False,True,True,,,,,,,,,,,,,,,m,1984,m,0.0,0.7,2016-01-07 12:57:47,2016-01-07 00:00:00,2016-05-01 15:44:54.907428,103,7,28,15,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:11:33,2016-01-27 15:06:04,downloadable,
80547,HarvardX/HKS101A/2015T3,7589779,True,False,True,True,,,,,,,,,,,,,,,m,1984,m,0.0,0.7,2016-01-07 12:57:47,2016-01-07 00:00:00,2016-05-01 15:44:54.907428,103,7,28,15,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:11:33,2016-01-27 15:06:04,downloadable,
80548,HarvardX/HKS101A/2015T3,7589779,True,False,True,True,,,,,,,,,,,,,,,m,1984,m,0.0,0.7,2016-01-07 12:57:47,2016-01-07 00:00:00,2016-05-01 15:44:54.907428,103,7,28,15,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:11:33,2016-01-27 15:06:04,downloadable,
80549,HarvardX/HKS101A/2015T3,7589779,True,False,True,True,,,,,,,,,,,,,,,m,1984,m,0.0,0.7,2016-01-07 12:57:47,2016-01-07 00:00:00,2016-05-01 15:44:54.907428,103,7,28,15,,,,,,,Student,0,0,0,honor,1,2016-01-13 22:11:33,2016-01-27 15:06:04,downloadable,
91942,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91943,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91944,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91945,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91946,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91947,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91948,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91949,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91950,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91951,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91952,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91953,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91954,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91955,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91956,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91957,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91958,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91959,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91960,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
91961,HarvardX/HKS101A/2015T3,8673162,False,,True,True,,,,,,,,,,,,,,,b,1992,m,0.0,0.7,2016-01-12 22:39:53,,,,,,,,,,,,,Student,,,,honor,1,2016-01-13 22:22:31,2016-01-27 15:06:07,downloadable,
565559,HarvardX/CS50x/2014_T1,334241,True,True,True,True,70.77.222.236,CA,Canada,Americas,Castlegar,BC,British Columbia,V1N,Northern America,Developed regions,,,49.3167,-117.6667,b,1984,f,0.0,0.6,2014-03-23 22:31:02,2014-03-23 22:31:02.662437,2015-01-02 02:31:28.225936,3255,74,1051,11,,,,,,,Student,0,0,0,verified,1,2014-06-06 19:31:44,2015-01-21 02:43:46,downloadable,2014-09-20 18:33:11.724611
565560,HarvardX/CS50x/2014_T1,334241,True,True,True,True,70.77.222.236,CA,Canada,Americas,Castlegar,BC,British Columbia,V1N,Northern America,Developed regions,,,49.3167,-117.6667,b,1984,f,0.0,0.6,2014-03-23 22:31:02,2014-03-23 22:31:02.662437,2015-01-02 02:31:28.225936,3255,74,1051,11,,,,,,,Student,0,0,0,verified,1,2014-06-06 19:31:44,2015-01-21 02:43:46,downloadable,2014-09-20 18:33:11.724611
565561,HarvardX/CS50x/2014_T1,334241,True,True,True,True,70.77.222.236,CA,Canada,Americas,Castlegar,BC,British Columbia,V1N,Northern America,Developed regions,,,49.3167,-117.6667,b,1984,f,0.0,0.6,2014-03-23 22:31:02,2014-03-23 22:31:02.662437,2015-01-02 02:31:28.225936,3255,74,1051,11,,,,,,,Student,0,0,0,verified,1,2014-06-06 19:31:44,2015-01-21 02:43:46,downloadable,2014-09-20 18:33:11.724611
565743,HarvardX/CS50x/2014_T1,336473,True,True,True,True,92.139.79.177,FR,France,Europe,AndouillÃƒÂ©-neuville,35,Ille-et-Vilaine,,Western Europe,Developed regions,,,48.2928,-1.5896,b,1982,m,0.0,0.6,2013-09-27 18:33:35,2014-01-01 00:00:00,2014-09-15 16:19:25.071099,2469,105,28,11,,,,,,,Student,0,0,0,verified,1,2014-06-06 15:59:01,2014-09-15 17:21:56,downloadable,
565744,HarvardX/CS50x/2014_T1,336473,True,True,True,True,92.139.79.177,FR,France,Europe,AndouillÃƒÂ©-neuville,35,Ille-et-Vilaine,,Western Europe,Developed regions,,,48.2928,-1.5896,b,1982,m,0.0,0.6,2013-09-27 18:33:35,2014-01-01 00:00:00,2014-09-15 16:19:25.071099,2469,105,28,11,,,,,,,Student,0,0,0,verified,1,2014-06-06 15:59:01,2014-09-15 17:21:56,downloadable,
575758,HarvardX/CS50x/2014_T1,504061,True,True,True,True,190.53.25.75,SV,El Salvador,Americas,Santa Tecla,LI,Departamento de La Libertad,,Central America,Developing_Nations,,Latin America and the Caribbean,13.6769,-89.2797,b,1993,m,0.0,0.6,2014-12-03 00:01:25,2014-12-03 00:00:00,2015-01-12 21:18:53.473906,2771,27,882,11,,,,,,,Student,0,0,0,honor,1,2015-01-21 02:24:23,2015-01-21 02:25:05,downloadable,
575759,HarvardX/CS50x/2014_T1,504061,True,True,True,True,190.53.25.75,SV,El Salvador,Americas,Santa Tecla,LI,Departamento de La Libertad,,Central America,Developing_Nations,,Latin America and the Caribbean,13.6769,-89.2797,b,1993,m,0.0,0.6,2014-12-03 00:01:25,2014-12-03 00:00:00,2015-01-12 21:18:53.473906,2771,27,882,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
575760,HarvardX/CS50x/2014_T1,504061,True,True,True,True,190.53.25.75,SV,El Salvador,Americas,Santa Tecla,LI,Departamento de La Libertad,,Central America,Developing_Nations,,Latin America and the Caribbean,13.6769,-89.2797,b,1993,m,0.0,0.6,2014-12-03 00:01:25,2014-12-03 00:00:00,2015-01-12 21:18:53.473906,2771,27,882,11,,,,,,,Student,0,0,0,honor,1,2015-01-21 02:24:23,2015-01-21 02:25:05,downloadable,
575761,HarvardX/CS50x/2014_T1,504061,True,True,True,True,190.53.25.75,SV,El Salvador,Americas,Santa Tecla,LI,Departamento de La Libertad,,Central America,Developing_Nations,,Latin America and the Caribbean,13.6769,-89.2797,b,1993,m,0.0,0.6,2014-12-03 00:01:25,2014-12-03 00:00:00,2015-01-12 21:18:53.473906,2771,27,882,11,,,,,,,Student,0,0,0,honor,1,2015-01-21 02:24:23,2015-01-21 02:25:05,downloadable,
575762,HarvardX/CS50x/2014_T1,504061,True,True,True,True,190.53.25.75,SV,El Salvador,Americas,Santa Tecla,LI,Departamento de La Libertad,,Central America,Developing_Nations,,Latin America and the Caribbean,13.6769,-89.2797,b,1993,m,0.0,0.6,2014-12-03 00:01:25,2014-12-03 00:00:00,2015-01-12 21:18:53.473906,2771,27,882,11,,,,,,,Student,0,0,0,honor,1,2015-01-21 02:24:23,2015-01-21 02:25:05,downloadable,
575763,HarvardX/CS50x/2014_T1,504061,True,True,True,True,190.53.25.75,SV,El Salvador,Americas,Santa Tecla,LI,Departamento de La Libertad,,Central America,Developing_Nations,,Latin America and the Caribbean,13.6769,-89.2797,b,1993,m,0.0,0.6,2014-12-03 00:01:25,2014-12-03 00:00:00,2015-01-12 21:18:53.473906,2771,27,882,11,,,,,,,Student,0,0,0,honor,1,2015-01-21 02:24:23,2015-01-21 02:25:05,downloadable,
575764,HarvardX/CS50x/2014_T1,504061,True,True,True,True,190.53.25.75,SV,El Salvador,Americas,Santa Tecla,LI,Departamento de La Libertad,,Central America,Developing_Nations,,Latin America and the Caribbean,13.6769,-89.2797,b,1993,m,0.0,0.6,2014-12-03 00:01:25,2014-12-03 00:00:00,2015-01-12 21:18:53.473906,2771,27,882,11,,,,,,,Student,0,0,0,honor,1,2015-01-21 02:24:23,2015-01-21 02:25:05,downloadable,

We definitely see that some rows are shifted. However before we deal with this, we would like to wrangle the data with the knowledge of the data type. For example, things that say False are not really the boolean value for false, but rather the string. We will try to correct this now.

In [ ]:
"""
Run through every data point, checking whether it could be a boolean value, an integer,
a float, or a datetime, and if not then leave it as a string. dt_format is the datetime
format it tries first, dt_format_catch is the alternative datetime format.
"""
def fix_types(df, dt_format, dt_format_catch):

In [ ]:
def check_types(df):

In [96]:
def is_ip(s):
    return (len(s.split('.'))==4)

In [38]:
df_clean['grade'].iloc[0]

'0.7'

In [50]:
df_clean['start_time'].iloc[100]

'2018-01-01 21:55:17.732324'

In [64]:
try:
    d = datetime.strptime(df_clean['passing_grade'].iloc[0], "%Y-%m-%d %H:%M:%S.%f")
except ValueError as v:
    d = datetime.strptime(df_clean['passing_grade'].iloc[0], "%Y-%m-%d %H:%M:%S")

In [63]:
d

datetime.datetime(2018, 4, 10, 8, 30, 28)